In [1]:
?

In [2]:
import numpy as np

In [4]:
for i in range(6):
    print(i:np.random.randn())

SyntaxError: invalid syntax (<ipython-input-4-98b45d5b79ef>, line 2)

In [5]:
import pandas as pd

In [7]:
dt = pd.Series([1,2,3])
dt

0    1
1    2
2    3
dtype: int64

In [8]:
dt.values

array([1, 2, 3], dtype=int64)

In [9]:
dt.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
dt1= pd.Series([1,2,3],index=['a','b','c'])

In [12]:
dt1

a    1
b    2
c    3
dtype: int64

In [13]:
dt1.index

Index(['a', 'b', 'c'], dtype='object')

In [14]:
dt1['a']

1

In [16]:
dt1['b']

2

In [18]:
dt1[['a','c']]

a    1
c    3
dtype: int64

In [21]:
dt1[dt1>2]

c    3
dtype: int64

In [22]:
dt1*2

a    2
b    4
c    6
dtype: int64

In [23]:
d = {'bok':100, 'city':200,'steel':300,'ben':400}

In [25]:
dt2 = pd.Series(d)
dt2

bok      100
city     200
steel    300
ben      400
dtype: int64

In [26]:
sate=['kar','bok','city','steel']

In [27]:
dt2 = pd.Series(d,index=sate)
dt2

kar        NaN
bok      100.0
city     200.0
steel    300.0
dtype: float64

In [28]:
pd.isnull(dt2)

kar       True
bok      False
city     False
steel    False
dtype: bool

In [29]:
pd.notnull(dt2)

kar      False
bok       True
city      True
steel     True
dtype: bool

In [30]:
dt2.isnull()

kar       True
bok      False
city     False
steel    False
dtype: bool

In [31]:
dt2

kar        NaN
bok      100.0
city     200.0
steel    300.0
dtype: float64

In [32]:
dt2.name='population'

In [34]:
dt2.index.name='stATE'

In [36]:
dt2

stATE
kar        NaN
bok      100.0
city     200.0
steel    300.0
Name: population, dtype: float64

In [37]:
dt

0    1
1    2
2    3
dtype: int64

In [39]:
dt.index=['vis','kum','soin']

In [40]:
dt

vis     1
kum     2
soin    3
dtype: int64

In [41]:
np.nan==np.nan

False

In [42]:
np.nan==None

False

In [44]:
np.isnan(np.nan)

True

In [45]:
pd.isnull(np.nan)

True

In [46]:
dt2

stATE
kar        NaN
bok      100.0
city     200.0
steel    300.0
Name: population, dtype: float64

In [47]:
dt2.iloc[2]

200.0

In [48]:
dt2.loc['kar']

nan

In [49]:
dt2['kar']

nan

In [50]:
dt2[2]

200.0

In [51]:
s = pd.Series([100,43,23,76])

In [52]:
total =  0
for item in s:
    total+=item
print(total)

242

In [54]:
total = np.sum(s)
print(total)

242

In [62]:
s = pd.Series(np.random.randint(0,1000,5000))

In [63]:
s.head()

0    296
1    482
2    938
3    175
4    857
dtype: int32

In [64]:
len(s)

5000

In [65]:
%%timeit -n 100
sum = 0
for item in s:
    sum+=item

705 µs ± 64.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [66]:
%%timeit -n 100
sum=np.sum(s)

148 µs ± 33.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [68]:
s+=2
s.head()

0    300
1    486
2    942
3    179
4    861
dtype: int32

In [70]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\Users\visha\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    302
1    488
2    944
3    181
4    863
dtype: int32

In [73]:
for items, value in s.iteritems():
    s.set_value(items,value+2)
s.head()

C:\Users\visha\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    304
1    490
2    946
3    183
4    865
dtype: int32

In [74]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,100,2000))
for label,values in s.iteritems():
    s.loc[label] = values+2

606 ms ± 3.67 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [76]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,100,2000))
s+=2

426 µs ± 134 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [80]:
## dataframe

In [81]:
purchase = pd.Series({'Name':'Chris',
                       'Item':'Dog',
                       'cost':'22.50'})

In [88]:
purchase.values

array(['Chris', 'Dog', '22.50'], dtype=object)

In [92]:
purchase2 = pd.Series({'Name':'kevy',
                      'Item':'cat',
                      'cst':2.60})

In [89]:
purchase2.values

array(['kevy', 'cat', 2.6], dtype=object)

In [106]:
df = pd.DataFrame([purchase,purchase2],index=['store','store1'])

In [107]:
df

         Name Item   cost  cst
store   Chris  Dog  22.50  NaN
store1   kevy  cat    NaN  2.6

In [110]:
df.rename(columns= {'Name':'vis'},inplace=True)

In [111]:
df

          vis Item   cost  cst
store   Chris  Dog  22.50  NaN
store1   kevy  cat    NaN  2.6

In [112]:
df['cost']

store     22.50
store1      NaN
Name: cost, dtype: object

In [114]:
cost =df['cost']

In [119]:
cost+=int(2)

TypeError: must be str, not int

In [118]:
cost

store     22.502
store1       NaN
Name: cost, dtype: object

In [120]:
!cat olympics.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [121]:
df = pd.read_csv('olympics.csv')

In [122]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [124]:
df = pd.read_csv('olympics.csv',index_col=0,skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [131]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [137]:
for col in df.columns:
    if col[:2] =='01':
        df.rename(columns={col:'Gold'+col[4:]},inplace=True)
    if col[:2] =='02':
        df.rename(columns={col:'Silver'+col[4:]},inplace=True)
    if col[:2] =='03':
        df.rename(columns={col:'Bronze'+col[4:]},inplace=True)
    if col[:1] == '№':
        df.rename(columns={col:'#'+col[6:]},inplace=True)
df.head()

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [139]:
df[df['Gold']>0]

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [152]:
df[df['Gold']>0]['Gold'].count()

100

In [140]:
only_gold = df.where(df['Gold']>0)
only_gold

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
Austria (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
Azerbaijan (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
Bahamas (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
Bahrain (BRN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barbados (BAR) [BAR],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belarus (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
Belgium (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
Bermuda (BER),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bohemia (BOH) [BOH] [Z],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Botswana (BOT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
British West Indies (BWI) [BWI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
Burundi (BDI),5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0
Cameroon (CMR),13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0
Canada (CAN),25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0
Chile (CHI) [I],22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0
China (CHN) [CHN],9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0
Colombia (COL),18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0
Costa Rica (CRC),14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0
Ivory Coast (CIV) [CIV],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Croatia (CRO),6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0
Cuba (CUB) [Z],19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0
Cyprus (CYP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sudan (SUD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suriname (SUR) [E],11.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,2.0
Sweden (SWE) [Z],26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0
Switzerland (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0
Syria (SYR),12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0
Chinese Taipei (TPE) [TPE] [TPE2],13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0
Tajikistan (TJK),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania (TAN) [TAN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thailand (THA),15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0
Togo (TOG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tonga (TGA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trinidad and Tobago (TRI) [TRI],16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0
Tunisia (TUN),13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0
Turkey (TUR),21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0
Uganda (UGA),14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0
Ukraine (UKR),5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0
United Arab Emirates (UAE),8.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
United States (USA) [P] [Q] [R] [Z],26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0
Uruguay (URU),20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0
Uzbekistan (UZB),5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0
Venezuela (VEN),17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0
Vietnam (VIE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (ISV),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia (YUG) [YUG],16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0
Independent Olympic Participants (IOP) [IOP],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia (ZAM) [ZAM],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

In [144]:
df['Gold'].count()

147

In [146]:
only_gold['Gold'].count()

100

In [153]:
only_gold.dropna()

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
Austria (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
Azerbaijan (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
Bahamas (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
Belarus (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
Belgium (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
Brazil (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
Bulgaria (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
Burundi (BDI),5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0
Cameroon (CMR),13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0
Canada (CAN),25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0
Chile (CHI) [I],22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0
China (CHN) [CHN],9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0
Colombia (COL),18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0
Costa Rica (CRC),14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0
Croatia (CRO),6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0
Cuba (CUB) [Z],19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0
Czech Republic (CZE) [CZE],5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0
Czechoslovakia (TCH) [TCH],16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0
Denmark (DEN) [Z],26.0,43.0,68.0,68.0,179.0,13.0,0.0,1.0,0.0,1.0,39.0,43.0,69.0,68.0,180.0
Dominican Republic (DOM),13.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,2.0,1.0,6.0
Ecuador (ECU),13.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,0.0,2.0
Egypt (EGY) [EGY] [Z],21.0,7.0,9.0,10.0,26.0,1.0,0.0,0.0,0.0,0.0,22.0,7.0,9.0,10.0,26.0
Estonia (EST),11.0,9.0,9.0,15.0,33.0,9.0,4.0,2.0,1.0,7.0,20.0,13.0,11.0,16.0,40.0
Ethiopia (ETH),12.0,21.0,7.0,17.0,45.0,2.0,0.0,0.0,0.0,0.0,14.0,21.0,7.0,17.0,45.0
Finland (FIN),24.0,101.0,84.0,117.0,302.0,22.0,42.0,62.0,57.0,161.0,46.0,143.0,146.0,174.0,463.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Russia (RUS) [RUS],5.0,132.0,121.0,142.0,395.0,6.0,49.0,40.0,35.0,124.0,11.0,181.0,161.0,177.0,519.0
Russian Empire (RU1) [RU1],3.0,1.0,4.0,3.0,8.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,4.0,3.0,8.0
Soviet Union (URS) [URS],9.0,395.0,319.0,296.0,1010.0,9.0,78.0,57.0,59.0,194.0,18.0,473.0,376.0,355.0,1204.0
Unified Team (EUN) [EUN],1.0,45.0,38.0,29.0,112.0,1.0,9.0,6.0,8.0,23.0,2.0,54.0,44.0,37.0,135.0
Serbia (SRB) [SRB],3.0,1.0,2.0,4.0,7.0,2.0,0.0,0.0,0.0,0.0,5.0,1.0,2.0,4.0,7.0
Serbia and Montenegro (SCG) [SCG],3.0,2.0,4.0,3.0,9.0,3.0,0.0,0.0,0.0,0.0,6.0,2.0,4.0,3.0,9.0
Slovakia (SVK) [SVK],5.0,7.0,9.0,8.0,24.0,6.0,2.0,2.0,1.0,5.0,11.0,9.0,11.0,9.0,29.0
Slovenia (SLO),6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0
South Africa (RSA),18.0,23.0,26.0,27.0,76.0,6.0,0.0,0.0,0.0,0.0,24.0,23.0,26.0,27.0,76.0
Spain (ESP) [Z],22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0
Suriname (SUR) [E],11.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,2.0
Sweden (SWE) [Z],26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0
Switzerland (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0
Syria (SYR),12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0
Chinese Taipei (TPE) [TPE] [TPE2],13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0
Thailand (THA),15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0
Trinidad and Tobago (TRI) [TRI],16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0
Tunisia (TUN),13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0
Turkey (TUR),21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0
Uganda (UGA),14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0
Ukraine (UKR),5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0
United Arab Emirates (UAE),8.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
United States (USA) [P] [Q] [R] [Z],26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0
Uruguay (URU),20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0
Uzbekistan (UZB),5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0
Venezuela (VEN),17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0
Yugoslavia (YUG) [YUG],16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

In [155]:
only_gold.dropna()['Gold'].count()

100

In [158]:
len(df[(df['Gold']>0) | (df['Gold.1']>0)])

101

In [160]:
df[(df['Gold.1']>0) & (df[df['Gold']==0)]

SyntaxError: invalid syntax (<ipython-input-160-dc24c999d77b>, line 1)

In [161]:
df[(df['Gold.1']>0) & (df['Gold']==0)]

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [162]:
df

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [163]:
df['country'] = df.index

In [165]:
df = df.set_index('Gold')
df

,#mmer,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
139,25,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
18,26,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
6,5,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
5,15,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
12,5,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
37,25,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
0,17,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
0,3,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
23,21,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
0,1,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
51,19,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
1,5,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
3,13,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
59,25,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
2,22,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
201,9,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
2,18,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
1,14,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
0,12,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
72,19,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
0,9,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,16,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
1,11,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
143,26,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
47,27,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
1,12,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
2,13,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
0,5,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
0,12,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
7,15,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
0,9,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
0,8,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
2,16,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
3,13,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
39,21,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
2,14,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
33,5,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
1,8,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
2,20,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
2,17,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
0,14,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
0,11,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
26,16,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
3,12,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
8,3,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [167]:
df.reset_index()
df_copy=df.copy()

In [169]:
df_copy = df.reset_index()

In [172]:
df_copy.set_index('Gold')

,#mmer,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
139,25,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
18,26,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
6,5,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
5,15,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
12,5,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
37,25,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
0,17,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
0,3,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
23,21,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
0,1,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
51,19,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
1,5,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
3,13,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
59,25,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
2,22,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
201,9,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
2,18,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
1,14,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
0,12,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
72,19,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
0,9,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,16,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
1,11,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
143,26,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
47,27,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
1,12,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
2,13,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
0,5,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
0,12,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
7,15,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
0,9,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
0,8,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
2,16,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
3,13,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
39,21,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
2,14,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
33,5,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
1,8,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
2,20,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
2,17,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
0,14,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
0,11,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
26,16,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
3,12,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
8,3,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [174]:
df = pd.read_csv('census.csv')

In [178]:
df[df['SUMLEV']==40]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
68,40,4,9,2,0,Alaska,Alaska,710231,710249,714021,...,-1.173489,-1.946424,-3.915107,-14.438910,-10.407475,0.931274,1.818497,-0.757148,-11.271709,-6.881838
98,40,4,8,4,0,Arizona,Arizona,6392017,6392307,6408208,...,1.327489,5.245740,3.905473,6.219955,6.776501,3.290378,7.337279,6.123606,8.761352,9.335208
114,40,3,7,5,0,Arkansas,Arkansas,2915918,2915958,2922394,...,1.365312,-0.432402,-0.442153,-1.060966,-0.407735,2.326251,0.646395,0.682189,0.226168,0.901928
190,40,4,9,6,0,California,California,37253956,37254503,37334079,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065
249,40,4,8,8,0,Colorado,Colorado,5029196,5029324,5048254,...,5.232828,5.513416,6.903846,7.375183,10.073656,6.968908,7.698805,9.053163,9.764255,12.537918
314,40,1,1,9,0,Connecticut,Connecticut,3574097,3574118,3579717,...,-3.724400,-5.311208,-4.730271,-7.567093,-7.687268,0.775510,-1.066084,-0.278693,-2.376831,-2.463243
323,40,3,5,10,0,Delaware,Delaware,897934,897936,899791,...,2.867721,3.594491,3.169689,5.106051,4.490138,5.332723,6.360496,5.939911,8.245757,7.628452
327,40,3,5,11,0,District of Columbia,District of Columbia,601723,601767,605126,...,11.560071,10.052444,9.457678,1.480094,5.601833,17.028422,15.972111,15.634120,8.378037,12.434838
329,40,3,5,12,0,Florida,Florida,18801310,18804623,18849890,...,5.556307,5.138184,4.847420,6.958576,10.080932,11.364173,10.676030,10.565882,13.478570,16.528676
397,40,3,5,13,0,Georgia,Georgia,9687653,9688681,9713454,...,1.116578,1.820078,-0.607357,2.186504,3.349056,3.389168,4.379947,1.886665,4.999230,6.218396
557,40,4,9,15,0,Hawaii,Hawaii,1360301,1360301,1363980,...,-0.728610,-2.555878,-1.038764,-3.518530,-4.927311,4.234545,4.258593,5.314474,3.203227,2.175422
563,40,4,8,16,0,Idaho,Idaho,1567582,1567652,1570986,...,0.070362,-0.160366,3.118843,5.188461,4.182706,0.958442,0.940183,4.259427,6.500203,5.530535
608,40,2,3,17,0,Illinois,Illinois,12830632,12831549,12841249,...,-5.243330,-5.805172,-5.308960,-7.509147,-8.174675,-3.020410,-3.519051,-2.830379,-4.625216,-5.247030
711,40,2,3,18,0,Indiana,Indiana,6483802,6484229,6490590,...,-1.293568,-1.960149,-0.116258,-1.140002,-2.251702,0.157756,-0.447027,1.542780,0.760457,-0.349081
804,40,2,4,19,0,Iowa,Iowa,3046355,3046869,3050694,...,0.132111,-1.394328,0.199064,0.065466,-1.267049,1.714823,0.263105,2.001342,2.127479,0.789299
904,40,2,4,20,0,Kansas,Kansas,2853118,2853132,2858824,...,-3.136815,-1.761232,-4.259882,-4.723711,-4.482170,-1.377266,0.592752,-2.053656,-2.296651,-1.965206
1010,40,3,6,21,0,Kentucky,Kentucky,4339367,4339349,4347937,...,0.548428,-1.055248,-0.534781,-0.986254,-1.683921,1.724221,0.511968,0.945888,0.649634,-0.009278
1131,40,3,7,22,0,Louisiana,Louisiana,4533372,4533479,4544951,...,0.473667,-0.180411,-0.500478,-1.366682,-1.579018,1.949929,1.422368,1.064221,0.376651,0.196358
1196,40,1,1,23,0,Maine,Maine,1328361,1328361,1327695,...,0.068525,-0.441075,-0.991095,0.485891,-1.291931,0.949565,0.505806,0.004515,1.631420,-0.142879
1213,40,3,5,24,0,Maryland,Maryland,5773552,5773785,5788409,...,0.077369,-1.425490,-1.539388,-2.536397,-4.129281,4.606029,3.039478,3.113104,2.673241,1.100340
1238,40,1,1,25,0,Massachusetts,Massachusetts,6547629,6547817,6565036,...,-0.737051,-1.333275,-0.519504,-1.737085,-3.218558,4.566803,4.015802,5.144020,4.735912,3.203502
1253,40,2,3,26,0,Michigan,Michigan,9883640,9884129,9877369,...,-4.364492,-3.383718,-2.913472,-2.906320,-3.922701,-2.544908,-1.400463,-0.763820,-0.458399,-1.482846
1337,40,2,4,27,0,Minnesota,Minnesota,5303925,5303925,5310903,...,-0.697250,-1.627618,-0.291640,-1.203383,-2.236652,1.661128,0.702797,2.224242,1.638219,0.590314
1425,40,3,6,28,0,Mississippi,Mississippi,2967297,2968103,2970316,...,-1.943071,-1.897828,-1.598223,-3.010150,-4.086354,-1.323400,-0.966185,-0.795096,-2.147243,-3.160827
1508,40,2,4,29,0,Missouri,Missouri,5988927,5988927,5996052,...,-2.236429,-2.235616,-1.291223,-1.342305,-1.439638,-0.974961,-0.774839,0.187254,0.313028,0.241367
1624,40,4,8,30,0,Montana,Montana,989415,989417,990643,...,3.452041,3.567821,5.627961,4.364823,5.124013,4.063591,4.308746,6.292463,5.069555,5.854486
1681,40,2,4,31,0,Nebraska,Nebraska,1826341,1826341,1830025,...,-0.633372,-0.496978,-0.261994,-1.332523,-1.468576,1.171983,1.694266,1.977842,1.188611,1.084894
1775,40,4,8,32,0,Nevada,Nevada,2700551,2700691,2703440,...,-2.733178,5.306838,4.846319,8.333086,9.760302,0.016967,7.924449,7.613377,11.517866,12.956601
1793,40,1,1,33,0,New Hampshire,New Hampshire,1316470,1316466,1316708,...,-1.647026,-0.437922,-1.951549,1.429080,-0.877904,-0.309671,0.937972,-0.509823,3.113946,0.810200
1804,40,1,2,34,0,New Jersey,New Jersey,8791894,8791936,8803881,...,-5.099617,-5.563775,-5.137475,-6.216888,-7.292230,0.457420,-0.353542,0.470243,0.180654,-0.913121
1826,40,4,8,35,0,New Mexico,New Mexico,2059179,2059192,2064741,...,0.044413,-3.419154,-5.109690,-6.758128,-6.402799,1.100660,-1.907270,-3.665188,-5.111616,-4.661594
1860,40,1,2,36,0,New York,New York,19378102,19378087,19402920,...,-4.354557,-5.945385,-5.561401,-8.130297,-7.990563,1.439239,-0.402860,0.407960,-1.334639,-1.205321
1923,40,3,5,37,0,North Carolina,North Carolina,9535483,9535692,9558979,...,3.182925,3.274557,3.917733,3.470870,3.822913,5.057573,5.699028,6.128788,5.849442,6.331622
2024,40,2,4,38,0,North Dakota,North Dakota,672591,672591,674530,...,9.034780,16.009040,22.241532,12.479623,13.314923,10.558471,18.470861,24.449274,14.782061,15.675696
2078,40,2,3,39,0,Ohio,Ohio,11536504,11536725,11540766,...,-3.189870,-3.213719,-1.879172,-1.607649,-2.696806,-1.828451,-1.746963,-0.329701,0.175060,-0.913728
2167,40,3,7,40,0,Oklahoma,Oklahoma,3751351,3751616,3759596,...,1.694623,2.358401,3.652939,1.110563,2.104750,3.012368,4.092682,5.290256,2.921241,3.970249
2245,40,4,9,41,0,Oregon,Oregon,3831074,3831073,3837972,...,2.961404,3.354294,2.530063,5.757015,8.705805,4.520870,4.905797,4.255779,7.779997,10.733510
2282,40,1,2,42,0,Pennsylvania,Pennsylvania,12702379,12702887,12712014,...,-0.523231,-1.371189,-2.420849,-2.640310,-3.251021,1.596325,0.920684,-0.004696,0.170229,-0.442643
2350,40,1,1,44,0,Rhode Island,Rhode Island,1052567,1052931,1053219,...,-6.146099,-4.882502,-4.796582,-3.096174,-4.445802,-2.356211,-1.111085,-0.913906,1.332218,0.032209
2356,40,3,5,45,0,South Carolina,South Carolina,4625364,4625401,4635894,...,3.208207,5.604384,6.026867,8.180121,9.373895,4.314492,7.026983,7.202230,9.465643,10.772926
2403,40,2,4,46,0,South Dakota,South Dakota,814180,814191,816299,...,2.453998,5.233525,5.318171,0.496887,-2.079715,3.999785,7.084127,7.099228,2.460888,-0.098144
2470,40,3,6,47,0,Tennessee,Tennessee,6346105,6346275,6356585,...,2.463663,4.330055,2.043918,3.611647,3.259031,3.706784,5.771333,3.457334,5.222361,4.908398
2566,40,3,7,48,0,Texas,Texas,25145561,25146105,25244363,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697
2821,40,4,8,49,0,Utah,Utah,2763885,2763888,2775426,...,-0.329765,-0.029968,2.107281,-0.104306,3.132103,1.428861,1.773733,4.026022,2.069019,5.300638
2851,40,1,1,50,0,Vermont,Vermont,625741,625745,625984,...,-0.705692,-2.623924,-0.828064,-2.384568,-3.548825,0.282596,-1.469972,0.430784,-0.937877,-2.089704
2866,40,3,5,51,0,Virginia,Virginia,8001024,8001045,8025787,...,1.360760,0.614199,0.346268,-2.197521,-2.849964,5.004781,4.923775,4.447050,2.315622,1.793779
3000,40,4,9,53,0,Washington,Washington,6724540,6724543,6743060,...,3.454740,1.941180,2.212454,3.964679,5.732807,6.412660,5.351692,5.671575,7.840731,9.653974
3040,40,3,5,54,0,West Virginia,West Virginia,1852994,1853011,1854225,...,0.563468,0.561000,-1.419148,-2.242191,-2.537316,1.112377,1.168345,-0.788296,-1.516045,-1.808887
3096,40,2,3,55,0,Wisconsin,Wisconsin,5686986,5687289,5690204,...,-1.088077,-1.665772,-1.328675,-1.641820,-2.700254,-0.057895,-0.510312,-0.070444,-0.164130,-1.213969
3169,40,4,8,56,0,Wyoming,Wyoming,563626,563767,564516,...,-0.381530,9.636214,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573

In [176]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [179]:
df=df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [181]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [185]:
df = pd.read_csv('census.csv')

In [186]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [187]:
df = df[df['SUMLEV']==50]

In [188]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [189]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [190]:
df = df.set_index(['STNAME','CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [194]:
df.loc['Michigan','Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [196]:
df.loc[[('Michigan','Washtenaw County'),('Michigan','Wayne County')]]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

In [197]:
df = pd.read_csv('log.csv')
df.head()

         time    user       video  playback position paused  volume
0  1469974424  cheryl  intro.html                  5  False    10.0
1  1469974454  cheryl  intro.html                  6    NaN     NaN
2  1469974544  cheryl  intro.html                  9    NaN     NaN
3  1469974574  cheryl  intro.html                 10    NaN     NaN
4  1469977514     bob  intro.html                  1    NaN     NaN

In [200]:
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [202]:
df = df.set_index('time')

In [205]:
df= df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [206]:
df =df.reset_index()

In [208]:
df = df.set_index(['time','user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [211]:
df.fillna(method='ffill')

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0
1469974514 cheryl     intro.html                  8   False    10.0
1469974524 sue     advanced.html                 25   False    10.0
1469974544 cheryl     intro.html                  9   False    10.0
1469974554 sue     advanced.html                 26   False    10.0
1469974574 cheryl     intro.html                 10   False    10.0
1469974604 cheryl     intro.html                 11   False    10.0
1469974624 sue     advanced.html                 27   False    10.0
1469974634 cheryl     intro.html                 12   False    10.0
1469974654 sue     advanced.html                 28   False     5.0
1469974664 cheryl     intro.html                 13   False     5.0
1469974694 cheryl     intro.html                 14   False     5.0
1469974724 cheryl     intro.html                 15   False     5.0
           sue     advanced.html                 29   False     5.0
1469974754 sue     advanced.html                 30   False     5.0
1469974824 sue     advanced.html                 31   False     5.0
1469974854 sue     advanced.html                 32   False     5.0
1469974924 sue     advanced.html                 33   False     5.0
1469977424 bob        intro.html                  1    True    10.0
1469977454 bob        intro.html                  1    True    10.0
1469977484 bob        intro.html                  1    True    10.0
1469977514 bob        intro.html                  1    True    10.0
1469977544 bob        intro.html                  1    True    10.0
1469977574 bob        intro.html                  1    True    10.0
1469977604 bob        intro.html                  1    True    10.0
1469977634 bob        intro.html                  1    True    10.0
1469977664 bob        intro.html                  1    True    10.0
1469977694 bob        intro.html                  1    True    10.0
1469977724 bob        intro.html                  1    True    10.0