In [2]:
x=1
y=2
def add_to(x,y):
    return x+y
add_to(x,y)

3

In [3]:
list =[1,2,3,4,5]

In [4]:
list

[1, 2, 3, 4, 5]

In [5]:
for items in list:
    print(items)

1
2
3
4
5

In [16]:
for i in list:
    print(i)

1
2
3
4
5

In [15]:
i=0
while(i!=len(list)):
    print(i)
    i+=1

0
1
2
3
4

In [32]:
(i,v) = min((i,v) for i,v in enumerate(list))
print(i,v)

0 1

In [34]:
list.index(max(list))

4

In [1]:
import time as tm
import datetime as dt

In [2]:
tm.time()

1537772986.5737216

In [3]:
dt.datetime.fromtimestamp(tm.time())

datetime.datetime(2018, 9, 24, 12, 40, 30, 269263)

In [4]:
dt.datetime.fromtimestamp(tm.time())

datetime.datetime(2018, 9, 24, 12, 41, 30, 966823)

In [6]:
delta = dt.timedelta(days=100)

In [7]:
delta

datetime.timedelta(100)

In [9]:
dnow = dt.date.today()

In [10]:
dnow-delta

datetime.date(2018, 6, 16)

In [11]:
tm.time()

1537773305.7354307

In [13]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 9, 24, 12, 45, 41, 913734)

In [15]:
dtnow.year, dtnow.month

(2018, 9)

In [16]:
dt.datetime.fromtimestamp(tm.time()).year

2018

In [22]:
delta = dt.timedelta(days=100)

In [23]:
delta

datetime.timedelta(100)

In [18]:
dnow= dt.date.today()

In [24]:
dnow

datetime.date(2018, 9, 24)

In [19]:
delta-dnow

TypeError: unsupported operand type(s) for -: 'datetime.timedelta' and 'datetime.date'

In [25]:
delta = dt.timedelta(days=10)
delta

datetime.timedelta(10)

In [27]:
dtnow = dt.date.today()
dtnow

datetime.date(2018, 9, 24)

In [28]:
dtnow-delta

datetime.date(2018, 9, 14)

In [29]:
import numpy as np

In [36]:
arr= np.arange(36)

In [38]:
arr.resize((6,6))

In [39]:
arr

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [40]:
arr.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])